#button
{
background-color: #3333FF;
height:45px;
width:100px;

}

#confirmDialogBox
{
    display: none;
    background-color: #ECE8E8;
    border-radius: 5px;
    border: 1px solid #ABA8A8;
    width: 500px;
    left: 45%;
    margin-left: 425px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}
#confirmDialogBox .button {
    background-color: #CECDCD;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ABA8A8;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
#confirmDialogBox .button:hover
{
    background-color: #ABA8A8;
}
#confirmDialogBox .message
{
    text-align: left;
    margin-bottom: 8px;
}
